*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-heading{
    color:red;                   
    font-size:40px;
    font-style: italic;             /*for style*/
    font-weight: 100;               /*font boldness*/
    background-color: pink;       /*for bg colour*/
    text-align: center;             /*for aligning text*/
    padding-top:200px;  
    padding-bottom: 200px;              /*gives space up and down text area*/
    margin-top:100px;                   /*gives space up and down text area*/
}
.second-heading{
    color:#c1df53;                   
    font-size:40px;
    font-style: italic;             
    font-weight: 100;              
    background-color: rgb(233, 5, 43);       
    text-align: center;           
    padding-top:20px;  
    padding-bottom: 20px;              
    margin-top:100px;                   
}
#Third-heading{
    color:hsl(204, 26%, 4%);                   
    font-size:40px;
    font-style: italic;             
    font-weight: 100;              
    background-color: #b49ea1;       
    text-align: center;           
    padding-top:20px;  
    padding-bottom: 20px;              
    margin-top:100px;                   
}
p{
    font-weight: bolder;
    text-align: center;
    font-size: 200px;
    text-transform: capitalize;     /*capitalizes every words first letter*/
    text-transform: uppercase;      /*capitalizes everything*/
}